body, html{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#waveform{
    padding: 5px;
    width: calc(50% - 10px);
    height: 190px;
}
#mei{
    width: 50%;
    max-height: calc(100% - 200px);
    float: left;
}
#diva{
    top: 0;
    width: 50%;
    float: right;
}