body, html{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.waveform{
    padding: 5px;
    /*width: calc(50% - 10px);*/
    height: 190px;
}

#mei{
    width: 50%;
    max-width: 50%;
    top: 200px;
    /*max-height: calc(100% - 200px);*/
    height: calc(100%);
    float: left;
}
#renderer{
    top: 0;
    width:50%;
    max-width: 50%;
    height:100%;
    float: right;
}
#drag-div{
    border: thin black solid;
    position: absolute;
    cursor: default;
    background-color:rgba(255, 0, 0, 0.1);
}
#diva-overlay{
    position: absolute;
    z-index: 101;
}
.source-volume{
    display: inline;
    width: 200px;
}